<style>
    .window-body{
        margin: 0px;
    }

    [role="tabpanel"] {
        background: none !important; /* Removes the background */
    }

    .challenge-name{
        color: #000 !important;
    }
    .challenge-desc{
        color: #000 !important;
    }
    .challenge-desc p{
        color: #000 !important;
        font-size: 1.2em;
    }
    
   
</style>
<div class="modal-dialog" role="document">
    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">
                Challenge - {{ challenge.name }}
            </div>
            <div class="title-bar-controls">
                <button type="button" class="modal-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="window-body modal-content">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#challenge" style="color: #000 !important;">Challenge</a>
                </li>
                {% block solves %}
                <li class="nav-item">
                    <a class="nav-link challenge-solves" href="#solves" style="color: #000 !important;">
                        {% if solves != None %}
                        {{ solves }} {% if solves > 1 %}Solves{% else %}Solve{% endif %}
                        {% endif %}
                    </a>
                </li>
                {% endblock %}
            </ul>
            <div role="tabpanel">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="challenge">
                        <h2 class="challenge-name text-center pt-3">
                            {{ challenge.name }}
                        </h2>
                        <h3 class="challenge-value text-center" style="color: #000 !important;">
                            {{ challenge.value }}
                        </h3>
                        <div class="challenge-tags text-center">
                            {% block tags %}
                            {% for tag in tags %}
                            <span class="badge badge-info challenge-tag">{{ tag }}</span>
                            {% endfor %}
                            {% endblock %}
                        </div>
                        <span class="challenge-desc" style="color: #000 !important;">
                            {% block description %}{{ challenge.html }}{% endblock %}
                        </span>
                        <span class="challenge-connection-info" style="color: #000 !important;">
                            {% block connection_info %}
                            {% set conn = challenge.connection_info %}
                            {% if conn %}
                            {% if conn.startswith("http") %}
                            {{ conn | urlize(target="_blank") }}
                            {% else %}
                            <code>{{ conn }}</code>
                            {% endif %}
                            {% endif %}
                            {% endblock %}
                        </span>
                        <div class="challenge-hints hint-row row">
                            {% for hint in hints %}
                            <div class="col-md-12 hint-button-wrapper text-center mb-3">
                                <a class="button hint-button" href="javascript:;" data-hint-id="{{ hint.id }}">
                                    {% if hint.content %}
                                    <small>View Hint</small>
                                    {% else %}
                                    <small>Unlock Hint for {{ hint.cost }} points</small>
                                    {% endif %}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row challenge-files text-center pb-3">
                            {% for file in files %}
                            <div class="col-md-4 file-button-wrapper">
                                <a class="button file-button" href="{{ file }}">
                                    <i class="fas fa-download"></i>
                                    <small>{{ file.split('/')[-1].split('?')[0] }}</small>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        {% if max_attempts > 0 %}
                        <div class="row text-center">
                            <div class="col-md-12">
                                <p>
                                    {{ attempts }}/{{ max_attempts }} attempt{{ max_attempts|pluralize }}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row submit-row">
                            <div class="col-md-9 form-group">
                                {% block input %}
                                <input id="challenge-id" class="input challenge-id" type="hidden" value="{{ challenge.id }}">
                                <input id="challenge-input" class="input challenge-input" type="text" name="answer" placeholder="Flag">
                                {% endblock %}
                            </div>
                            <div class="col-md-3 form-group key-submit">
                                {% block submit %}
                                <button id="challenge-submit" class="button challenge-submit" type="submit">
                                    Submit
                                </button>
                                {% endblock %}
                            </div>
                        </div>
                        <div class="row notification-row">
                            <div class="col-md-12">
                                <div id="result-notification" class="alert alert-dismissable text-center w-100" style="display: none;">
                                    <strong id="result-message"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="solves">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped text-center">
                                    <thead>
                                        <tr>
                                            <td><b>Name</b></td>
                                            <td><b>Date</b></td>
                                        </tr>
                                    </thead>
                                    <tbody id="challenge-solves-names"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
